.header {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    background-color: $light_primary;
    display: flex;
    justify-content: space-between;

    &__titleLeading {
        display: flex;

        & > h4 {
            margin: 0;
            font-size: 20px;
            color: $extra_light_primary;
        }
    }


    &__actions {
        background-color: $extra_light_primary;

        & > span, svg {
            color: $primary;
        }
    }

    &__leading {
        background-color: $extra_light_primary;
        margin-left: 10px;

        & > svg {
            color: $primary;
        }
    }
}