.translate {
    display: flex;
    
    &__layout {
        @include layout;
        position: relative;
    }

    &__alert {
        position: absolute;
        display: flex;
        justify-content: center;
        background-color: $extra_light_primary;
        color: $dark_primary;
        padding: 7px 15px;
        border-radius: 10px;
        margin-top: 40px;
    }

    &__box {
        margin-top: 50px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        padding: 0 10px;

        & > textarea {
            height: 100%;
            @include input;
            resize: vertical;
        }
        
        &__title {
            margin: 7px 0;
            font-size: 18px;
            font-weight: 500;
            color: $dark_secondary;
        }

        &__translateBox {
            background-color: $secondary;
            padding: 15px;
            border-radius: 10px;
            height: 100%;
        }

        &__lang {
            margin: 0 10px;
            font-size: 10px;
            font-weight: 200;
            color: $dark_secondary;
        }

        &__translateTitle {
            display: flex;
            align-items: center;
        }

        &__wordTitle {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
        }
    }

    &__addBtn {
        background-color: $extra_dark_secondary;
        position: fixed;
        bottom: 20px;
        right: 20px;
        
        & > span, svg {
            color: $dark_primary;
        }
    }

    &__btn {
        padding: 60px 0;
        display: flex;
        justify-content: center;

        &__translate {
            background-color: $extra_light_primary;

            & > svg, span {
                color: $primary;
            }
        }
    }
}

