@mixin input {
    background-color: $secondary;
    border-radius: 10px;
    font-family: $font_family;
    box-sizing: border-box;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 15px;
    width: 100%;
    direction: ltr;

    &::placeholder {
        font-size: 14px;
        color: gray;
    }
}

@mixin hoverButton {
    display: inline-flex;
    align-items: center;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;

    & > span {
        padding-left: 10px;
        display: none;
        font-size: 11px;
        transition: display;
    }

    & > svg {
        display: flex;
        width: 20px;
        height: 20px;
        stroke-width: 1.5;
    }

    &:hover {
        & > span {
            display: flex;
        }
    }
}

@mixin layout {
    height: 100%;
    background-color: $primary;
    display: flex;
    flex-direction: column;
    align-items: center;
}